<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chrtc.excelTest.excelTest.mapper.XmlFILEMapper">
    <resultMap id="BaseResultMap" type="com.chrtc.excelTest.excelTest.domain.XmlFILE" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="create_name" property="createName" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="DATE" />
        <result column="update_name" property="updateName" jdbcType="VARCHAR" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="DATE" />
        <result column="version_num" property="versionNum" jdbcType="INTEGER" />
        <result column="sys_org_code" property="sysOrgCode" jdbcType="VARCHAR" />
        <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
        <result column="obligate_a" property="obligateA" jdbcType="VARCHAR" />
        <result column="obligate_b" property="obligateB" jdbcType="VARCHAR" />
        <result column="obligate_c" property="obligateC" jdbcType="VARCHAR" />
        <result column="obligate_d" property="obligateD" jdbcType="VARCHAR" />
        <result column="obligate_e" property="obligateE" jdbcType="VARCHAR" />
        <result column="no1" property="no1" jdbcType="VARCHAR" />
        <result column="name1" property="name1" jdbcType="VARCHAR" />
        <result column="key1" property="key1" jdbcType="VARCHAR" />
        <result column="val" property="val" jdbcType="VARCHAR" />
        <result column="ver" property="ver" jdbcType="VARCHAR" />
        <result column="rmk" property="rmk" jdbcType="VARCHAR" />
        <result column="eng" property="eng" jdbcType="VARCHAR" />
        <result column="chn" property="chn" jdbcType="VARCHAR" />
        <result column="fmt" property="fmt" jdbcType="VARCHAR" />
        <result column="labeldictionary" property="labeldictionary" jdbcType="VARCHAR" />
        <result column="zipname" property="zipname" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                 and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                 and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                 and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                    #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}  
                                </when>
                                <when test="criterion.singleValue" >
                                 and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                   and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                  and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                     #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
    id,create_name,create_by,create_date,update_name,update_by,update_date,version_num,sys_org_code,del_flag,obligate_a,obligate_b,obligate_c,obligate_d,obligate_e,no1,name1,key1,val,ver,rmk,eng,chn,fmt,labeldictionary,zipname
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chrtc.excelTest.excelTest.domain.XmlFILEExample" >
        select
        no1 ,name1 ,key1 ,val, ver, rmk, eng, chn ,fmt,labeldictionary, zipname
        from xmlFILE
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from  xmlFILE
       where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from xmlFILE
     where id = #{id,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="com.chrtc.excelTest.excelTest.domain.XmlFILEExample" >
        delete from xmlFILE
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.chrtc.excelTest.excelTest.domain.XmlFILE" >
        insert into xmlFILE (
    id,create_name,create_by,create_date,update_name,update_by,update_date,version_num,sys_org_code,del_flag,obligate_a,obligate_b,obligate_c,obligate_d,obligate_e,no1,name1,key1,val,ver,rmk,eng,chn,fmt,labeldictionary,zipname        )
        values (
    #{id,jdbcType=VARCHAR},#{createName,jdbcType=VARCHAR},#{createBy,jdbcType=VARCHAR},#{createDate,jdbcType=DATE},#{updateName,jdbcType=VARCHAR},#{updateBy,jdbcType=VARCHAR},#{updateDate,jdbcType=DATE},#{versionNum,jdbcType=INTEGER},#{sysOrgCode,jdbcType=VARCHAR},#{delFlag,jdbcType=VARCHAR},#{obligateA,jdbcType=VARCHAR},#{obligateB,jdbcType=VARCHAR},#{obligateC,jdbcType=VARCHAR},#{obligateD,jdbcType=VARCHAR},#{obligateE,jdbcType=VARCHAR},#{no1,jdbcType=VARCHAR},#{name1,jdbcType=VARCHAR},#{key1,jdbcType=VARCHAR},#{val,jdbcType=VARCHAR},#{ver,jdbcType=VARCHAR},#{rmk,jdbcType=VARCHAR},#{eng,jdbcType=VARCHAR},#{chn,jdbcType=VARCHAR},#{fmt,jdbcType=VARCHAR},#{labeldictionary,jdbcType=VARCHAR},#{zipname,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.chrtc.excelTest.excelTest.domain.XmlFILE">
        insert into xmlFILE
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">
                id,
                </if>
                <if test="createName != null">
                create_name,
                </if>
                <if test="createBy != null">
                create_by,
                </if>
                <if test="createDate != null">
                create_date,
                </if>
                <if test="updateName != null">
                update_name,
                </if>
                <if test="updateBy != null">
                update_by,
                </if>
                <if test="updateDate != null">
                update_date,
                </if>
                <if test="versionNum != null">
                version_num,
                </if>
                <if test="sysOrgCode != null">
                sys_org_code,
                </if>
                <if test="delFlag != null">
                del_flag,
                </if>
                <if test="obligateA != null">
                obligate_a,
                </if>
                <if test="obligateB != null">
                obligate_b,
                </if>
                <if test="obligateC != null">
                obligate_c,
                </if>
                <if test="obligateD != null">
                obligate_d,
                </if>
                <if test="obligateE != null">
                obligate_e,
                </if>
                <if test="no1 != null">
                no1,
                </if>
                <if test="name1 != null">
                name1,
                </if>
                <if test="key1 != null">
                key1,
                </if>
                <if test="val != null">
                val,
                </if>
                <if test="ver != null">
                ver,
                </if>
                <if test="rmk != null">
                rmk,
                </if>
                <if test="eng != null">
                eng,
                </if>
                <if test="chn != null">
                chn,
                </if>
                <if test="fmt != null">
                fmt,
                </if>
                <if test="labeldictionary != null">
                labeldictionary,
                </if>
                <if test="zipname != null">
                zipname,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">
                #{id,jdbcType=VARCHAR},
                </if>
                <if test="createName != null">
                #{createName,jdbcType=VARCHAR},
                </if>
                <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
                </if>
                <if test="createDate != null">
                #{createDate,jdbcType=DATE},
                </if>
                <if test="updateName != null">
                #{updateName,jdbcType=VARCHAR},
                </if>
                <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
                </if>
                <if test="updateDate != null">
                #{updateDate,jdbcType=DATE},
                </if>
                <if test="versionNum != null">
                #{versionNum,jdbcType=INTEGER},
                </if>
                <if test="sysOrgCode != null">
                #{sysOrgCode,jdbcType=VARCHAR},
                </if>
                <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
                </if>
                <if test="obligateA != null">
                #{obligateA,jdbcType=VARCHAR},
                </if>
                <if test="obligateB != null">
                #{obligateB,jdbcType=VARCHAR},
                </if>
                <if test="obligateC != null">
                #{obligateC,jdbcType=VARCHAR},
                </if>
                <if test="obligateD != null">
                #{obligateD,jdbcType=VARCHAR},
                </if>
                <if test="obligateE != null">
                #{obligateE,jdbcType=VARCHAR},
                </if>
                <if test="no1 != null">
                #{no1,jdbcType=VARCHAR},
                </if>
                <if test="name1 != null">
                #{name1,jdbcType=VARCHAR},
                </if>
                <if test="key1 != null">
                #{key1,jdbcType=VARCHAR},
                </if>
                <if test="val != null">
                #{val,jdbcType=VARCHAR},
                </if>
                <if test="ver != null">
                #{ver,jdbcType=VARCHAR},
                </if>
                <if test="rmk != null">
                #{rmk,jdbcType=VARCHAR},
                </if>
                <if test="eng != null">
                #{eng,jdbcType=VARCHAR},
                </if>
                <if test="chn != null">
                #{chn,jdbcType=VARCHAR},
                </if>
                <if test="fmt != null">
                #{fmt,jdbcType=VARCHAR},
                </if>
                <if test="labeldictionary != null">
                #{labeldictionary,jdbcType=VARCHAR},
                </if>
                <if test="zipname != null">
                #{zipname,jdbcType=VARCHAR},
                </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.chrtc.excelTest.excelTest.domain.XmlFILEExample" resultType="java.lang.Integer" >
        select count(*) from xmlFILE
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
        update xmlFILE
        <set >
            <if test="id != null">
            id = #{id,jdbcType=VARCHAR},
            </if>
            <if test="createName != null">
            create_name = #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
            create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
            create_date = #{createDate,jdbcType=DATE},
            </if>
            <if test="updateName != null">
            update_name = #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
            update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
            update_date = #{updateDate,jdbcType=DATE},
            </if>
            <if test="versionNum != null">
            version_num = #{versionNum,jdbcType=INTEGER},
            </if>
            <if test="sysOrgCode != null">
            sys_org_code = #{sysOrgCode,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
            del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="obligateA != null">
            obligate_a = #{obligateA,jdbcType=VARCHAR},
            </if>
            <if test="obligateB != null">
            obligate_b = #{obligateB,jdbcType=VARCHAR},
            </if>
            <if test="obligateC != null">
            obligate_c = #{obligateC,jdbcType=VARCHAR},
            </if>
            <if test="obligateD != null">
            obligate_d = #{obligateD,jdbcType=VARCHAR},
            </if>
            <if test="obligateE != null">
            obligate_e = #{obligateE,jdbcType=VARCHAR},
            </if>
            <if test="no1 != null">
            no1 = #{no1,jdbcType=VARCHAR},
            </if>
            <if test="name1 != null">
            name1 = #{name1,jdbcType=VARCHAR},
            </if>
            <if test="key1 != null">
            key1 = #{key1,jdbcType=VARCHAR},
            </if>
            <if test="val != null">
            val = #{val,jdbcType=VARCHAR},
            </if>
            <if test="ver != null">
            ver = #{ver,jdbcType=VARCHAR},
            </if>
            <if test="rmk != null">
            rmk = #{rmk,jdbcType=VARCHAR},
            </if>
            <if test="eng != null">
            eng = #{eng,jdbcType=VARCHAR},
            </if>
            <if test="chn != null">
            chn = #{chn,jdbcType=VARCHAR},
            </if>
            <if test="fmt != null">
            fmt = #{fmt,jdbcType=VARCHAR},
            </if>
            <if test="labeldictionary != null">
            labeldictionary = #{labeldictionary,jdbcType=VARCHAR},
            </if>
            <if test="zipname != null">
            zipname = #{zipname,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map" >
        update xmlFILE
        set
            id = #{id,jdbcType=VARCHAR},
            ,create_name = #{createName,jdbcType=VARCHAR},
            ,create_by = #{createBy,jdbcType=VARCHAR},
            ,create_date = #{createDate,jdbcType=DATE},
            ,update_name = #{updateName,jdbcType=VARCHAR},
            ,update_by = #{updateBy,jdbcType=VARCHAR},
            ,update_date = #{updateDate,jdbcType=DATE},
            ,version_num = #{versionNum,jdbcType=INTEGER},
            ,sys_org_code = #{sysOrgCode,jdbcType=VARCHAR},
            ,del_flag = #{delFlag,jdbcType=VARCHAR},
            ,obligate_a = #{obligateA,jdbcType=VARCHAR},
            ,obligate_b = #{obligateB,jdbcType=VARCHAR},
            ,obligate_c = #{obligateC,jdbcType=VARCHAR},
            ,obligate_d = #{obligateD,jdbcType=VARCHAR},
            ,obligate_e = #{obligateE,jdbcType=VARCHAR},
            ,no1 = #{no1,jdbcType=VARCHAR},
            ,name1 = #{name1,jdbcType=VARCHAR},
            ,key1 = #{key1,jdbcType=VARCHAR},
            ,val = #{val,jdbcType=VARCHAR},
            ,ver = #{ver,jdbcType=VARCHAR},
            ,rmk = #{rmk,jdbcType=VARCHAR},
            ,eng = #{eng,jdbcType=VARCHAR},
            ,chn = #{chn,jdbcType=VARCHAR},
            ,fmt = #{fmt,jdbcType=VARCHAR},
            ,labeldictionary = #{labeldictionary,jdbcType=VARCHAR},
            ,zipname = #{zipname,jdbcType=VARCHAR},
      <if test="_parameter != null" >
          <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.chrtc.excelTest.excelTest.domain.XmlFILE" >
        update xmlFILE
        <set >
                <if test="id != null">
                id = #{id,jdbcType=VARCHAR},
                </if>
                <if test="createName != null">
                create_name = #{createName,jdbcType=VARCHAR},
                </if>
                <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
                </if>
                <if test="createDate != null">
                create_date = #{createDate,jdbcType=DATE},
                </if>
                <if test="updateName != null">
                update_name = #{updateName,jdbcType=VARCHAR},
                </if>
                <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
                </if>
                <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=DATE},
                </if>
                <if test="versionNum != null">
                version_num = #{versionNum,jdbcType=INTEGER},
                </if>
                <if test="sysOrgCode != null">
                sys_org_code = #{sysOrgCode,jdbcType=VARCHAR},
                </if>
                <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
                </if>
                <if test="obligateA != null">
                obligate_a = #{obligateA,jdbcType=VARCHAR},
                </if>
                <if test="obligateB != null">
                obligate_b = #{obligateB,jdbcType=VARCHAR},
                </if>
                <if test="obligateC != null">
                obligate_c = #{obligateC,jdbcType=VARCHAR},
                </if>
                <if test="obligateD != null">
                obligate_d = #{obligateD,jdbcType=VARCHAR},
                </if>
                <if test="obligateE != null">
                obligate_e = #{obligateE,jdbcType=VARCHAR},
                </if>
                <if test="no1 != null">
                no1 = #{no1,jdbcType=VARCHAR},
                </if>
                <if test="name1 != null">
                name1 = #{name1,jdbcType=VARCHAR},
                </if>
                <if test="key1 != null">
                key1 = #{key1,jdbcType=VARCHAR},
                </if>
                <if test="val != null">
                val = #{val,jdbcType=VARCHAR},
                </if>
                <if test="ver != null">
                ver = #{ver,jdbcType=VARCHAR},
                </if>
                <if test="rmk != null">
                rmk = #{rmk,jdbcType=VARCHAR},
                </if>
                <if test="eng != null">
                eng = #{eng,jdbcType=VARCHAR},
                </if>
                <if test="chn != null">
                chn = #{chn,jdbcType=VARCHAR},
                </if>
                <if test="fmt != null">
                fmt = #{fmt,jdbcType=VARCHAR},
                </if>
                <if test="labeldictionary != null">
                labeldictionary = #{labeldictionary,jdbcType=VARCHAR},
                </if>
                <if test="zipname != null">
                zipname = #{zipname,jdbcType=VARCHAR},
                </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chrtc.excelTest.excelTest.domain.XmlFILE" >
        update xmlFILE
        set
         id = #{id,jdbcType=VARCHAR}
         ,create_name = #{createName,jdbcType=VARCHAR}
         ,create_by = #{createBy,jdbcType=VARCHAR}
         ,create_date = #{createDate,jdbcType=DATE}
         ,update_name = #{updateName,jdbcType=VARCHAR}
         ,update_by = #{updateBy,jdbcType=VARCHAR}
         ,update_date = #{updateDate,jdbcType=DATE}
         ,version_num = #{versionNum,jdbcType=INTEGER}
         ,sys_org_code = #{sysOrgCode,jdbcType=VARCHAR}
         ,del_flag = #{delFlag,jdbcType=VARCHAR}
         ,obligate_a = #{obligateA,jdbcType=VARCHAR}
         ,obligate_b = #{obligateB,jdbcType=VARCHAR}
         ,obligate_c = #{obligateC,jdbcType=VARCHAR}
         ,obligate_d = #{obligateD,jdbcType=VARCHAR}
         ,obligate_e = #{obligateE,jdbcType=VARCHAR}
         ,no1 = #{no1,jdbcType=VARCHAR}
         ,name1 = #{name1,jdbcType=VARCHAR}
         ,key1 = #{key1,jdbcType=VARCHAR}
         ,val = #{val,jdbcType=VARCHAR}
         ,ver = #{ver,jdbcType=VARCHAR}
         ,rmk = #{rmk,jdbcType=VARCHAR}
         ,eng = #{eng,jdbcType=VARCHAR}
         ,chn = #{chn,jdbcType=VARCHAR}
         ,fmt = #{fmt,jdbcType=VARCHAR}
         ,labeldictionary = #{labeldictionary,jdbcType=VARCHAR}
         ,zipname = #{zipname,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="findAllByPage" resultMap="BaseResultMap"  parameterType="com.chrtc.excelTest.excelTest.domain.XmlFILEExample">
        SELECT * FROM xmlFILE
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
        <if test="sort != ''">
            ORDER BY ${sort}
        </if>
    </select>

    <delete id="deleteLogicByPrimaryKey" parameterType="java.lang.String">
        update xmlFILE
        set del_flag='1'
        where id = #{id,jdbcType=VARCHAR};
    </delete>


</mapper>
